@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?tseddk');
  src:  url('icomoon.eot?tseddk#iefix') format('embedded-opentype'),
    url('icomoon.ttf?tseddk') format('truetype'),
    url('icomoon.woff?tseddk') format('woff'),
    url('icomoon.svg?tseddk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="font-"], [class*=" font-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-Application-Management:before {
  content: "\e900";
}
.font-claim:before {
  content: "\e901";
}
.font-CnB:before {
  content: "\e902";
}
.font-document:before {
  content: "\e903";
}
.font-event:before {
  content: "\e904";
}
.font-file:before {
  content: "\e905";
}
.font-Home:before {
  content: "\e906";
}
.font-job:before {
  content: "\e907";
}
.font-Module-Management:before {
  content: "\e908";
}
.font-news:before {
  content: "\e909";
}
.font-Notification:before {
  content: "\e90a";
}
.font-OM:before {
  content: "\e90b";
}
.font-people:before {
  content: "\e90c";
}
.font-Self-Sevice:before {
  content: "\e90d";
}
.font-task:before {
  content: "\e90e";
}
.font-Configuring1:before {
  content: "\e90f";
}
.font-Monitoring:before {
  content: "\e910";
}
.font-Processing:before {
  content: "\e911";
}
.font-Reporting:before {
  content: "\e912";
}
.font-Tracking1:before {
  content: "\e913";
}
.font-Tracking2:before {
  content: "\e914";
}
.font-Tracking3:before {
  content: "\e915";
}

